/* Ensures the table takes full width of the container and collapses borders */
table.mat-elevation-z8 {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; /* Ensures columns are evenly distributed */
    margin: 0 auto; /* Optional: Center table horizontally */
}

/* Ensures table headers and cells have padding and text alignment */
th.mat-header-cell, td.mat-cell {
    border: 1px solid #ddd;
    padding: 6px;
    text-align: center;
}

/* Ensures the image inside the table cell does not exceed the cell's width */
.tablecell {
    max-width: 50px; /* Adjust this value to fit your needs */
    height: auto;
    display: block;
    margin: 0 auto;
    
}

/* Makes sure the table headers are distinguishable */
th.mat-header-cell {
    background-color: white;
    font-weight: bold;
    text-align: center;
}
.image-container {
    justify-content: center;
    align-items: center;
    
}
.loading-icon {
    margin: 0 auto;
}

.empty-message {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Make the height of the container full viewport height */
    width: 100%; /* Ensure the container takes full width */
    text-align: center;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%; /* Inherit from the parent */
    width: 100%;
    font-size: 50px;
    
    
}




