/* Ensure the toolbar takes full width */
mat-toolbar {
    display: flex;
    background-color: rgb(12, 12, 248);
  }
  
  .spacer {
    flex: 1;
  }
  
  mat-form-field {
    margin-right: 16px; 
  }
